<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="f5d6fdb7-946a-485c-8547-139057316b43"
  data-page-id="{{ .RelPermalink }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"
  data-theme="dark"
  style="filter: brightness(0.9) contrast(1.2) !important;">
></div>
<style>
    #cusdis_thread iframe {
        min-height: 330px !important;
        height: 100% !important;
        background-color: transparent !important;
    }
</style>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
