<!-- layouts/partials/newsletter.html -->
<div class="w-full bg-neutral-100 dark:bg-neutral-800 p-4 rounded-lg my-8 flex flex-col items-center">
    
    <h3 class="text-xl font-bold text-neutral-800 dark:text-neutral-100 mb-2 w-full text-left">
        Iscriviti alla Newsletter
    </h3>
    <p class="text-sm text-neutral-600 dark:text-neutral-400 mb-6 w-full text-left">
        Ricevi gli aggiornamenti sul Progetto Homo Uroboros direttamente nella tua casella di posta.
    </p>

    <iframe 
        width="540" 
        height="645" 
        src="https://825d8edd.sibforms.com/serve/MUIFAEOiqv581Uh-lci3OPXfJ1gXOFzfN8m5OLZVFxpbvUSfQLfTS_hfEXuL2X_BPBYB4v9_UzUcx4wCQsXB_gi2iimICHZRcx2K2jygmjW0heREEEfRSr3h0j5h_3QEHWXrYIkbescqjHwel6Bl60X5r_Lo04DlofixbnThae5WQgifw8rop7vfZyriirhJasux6EIQy2b20TjkQQ==" 
        frameborder="0" 
        scrolling="auto" 
        allowfullscreen 
        style="display: block;margin-left: auto;margin-right: auto;max-width: 100%; margin-bottom: -5em; "
    ></iframe>
